/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f8f8;
}

header {
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    text-align: center;
    padding: 60px 20px;
    position: relative;
}


.produk {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #219150;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;

    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.card, section {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.card.active, section.active {
  opacity: 1;
  transform: translateY(0);
}
.testimoni {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.testimoni-box {
  margin-top: 20px;
  padding: 30px;
  background: #020617;
  border-radius: 16px;
  font-style: italic;
  font-size: 1.1rem;
  color: #e5e7eb;
  transition: opacity 0.5s ease;
}

#testimoni-text {
  opacity: 1;
}
    